:host {
  mix-blend-mode: normal;
  border: 2px solid var(--btn-bg-color);
  box-sizing: border-box;
  border-radius: 10px;
  width: 209px;
  height: 104px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  font-size: 17px;
  gap: 10px;
  backdrop-filter: blur( 11px );
  -webkit-backdrop-filter: blur( 11px );
  border-radius: 10px;
  box-shadow: 6px 11px 15px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 11px 15px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 11px 15px -6px rgba(0,0,0,0.75);
}
:host:hover{
  backdrop-filter: blur( 0.5px );
  -webkit-backdrop-filter: blur( 0.5px );
}
:host:hover {
  color: #FFF;
}
:host:hover svg path {
  fill: #FFF;
}

:host {
  color: #FFF;
}
