:host {
  mix-blend-mode: normal;
  border: 1px solid var(--bkg-color);
  box-sizing: border-box;
  border-radius: 10px;
  width: 209px;
  height: 104px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  font-size: 17px;
  gap: 10px;
}
:host:hover{
  background: rgba( 255, 0, 0, 0.7 );
  backdrop-filter: blur( 0.5px );
  -webkit-backdrop-filter: blur( 0.5px );
}
:host:hover {
  color: #FFFFFF;
}
:host:hover svg path {
  fill: #FFFFFF;
}

:host {
  color: rgba(255,255,255,1.7);
}
