:host {
  /*background-image: url("../assets/ergo.png");*/
  /*background-position: center;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.basic {
  width: 200px;
  height: 200px;
  background: rgba(255,255,255,0.4);
  position: relative;
}
.blur {
  position: absolute;
  bottom: 25px;
  right: 162px;
  width: 200px;
  height: 200px;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
}.basic {
   width: 200px;
   height: 200px;
   background: rgba(255,255,255,0.4);
   position: relative;
 }
.blur {
  position: absolute;
  bottom: 25px;
  right: 162px;
  width: 200px;
  height: 200px;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  gap: 50px;
  justify-content: flex-start;
  align-items:flex-start;
  padding: 20px;
}
.row-end {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  gap: 50px;
  justify-content: flex-end;
  align-items:flex-end;
  padding: 20px;
  position: absolute;
  right: 20px;
  top: 30px;
}
.gap-50 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.col {
  display: flex;
  flex-direction: column;
  flex: 1;
}
