:host{
  background: var(--sidebar-bkg-color);
  background: rgba( 255, 255, 255, 0.01 );
  //box-shadow: 0 8px 22px 0 rgba( 255, 255, 255, 0.37 );
  backdrop-filter: blur( 12px );
  -webkit-backdrop-filter: blur( 12px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 300px;
}
.link {
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;
  align-items: center;
  text-transform: uppercase;
}
.link:hover {
  color: var(--text-color-active);
  cursor: pointer;
}
.link:hover svg > path {
  fill: var(--text-color-active);
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 350px;
  padding: 50px;
  align-self: center;
}
.logotipo {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.logotipo svg {
  object-fit: scale-down;
  transform: scale(.1);
}
