:host {
  /*background-image: url("../assets/ergo.png");*/
  /*background-position: center;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding: 20px 20px 20px 0px;
}
#body {
  display: flex;
  flex-direction: column;
  width: calc(1/2 * 100%);
}
